.about-container {
    text-align: center; 
}

.meet-the-executives {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

.flexify-advantage{
    padding-top: 30px;
}

h2 {
    font-size: 75px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.our-story-title {
    color: white;
}

.accordion {
    width: 70%;
    margin: 0 auto;
}

.accordion-item {
    border: 1px solid #8E46C6;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
    overflow: hidden;
}

.accordion-header {
    background-color: #8E46C6;
    color: white;
    padding: 15px;
    cursor: pointer;
    user-select: none;
    text-align: left;
    border-bottom: 1px solid #8E46C6;
    border-radius: 5px 5px 0 0;
    position: relative;
}

.accordion-header h3 {
    margin: 0;
    font-size: 1.8rem; 
    font-weight: bold; 
}

.accordion-body {
    padding: 15px;
    background-color: #fff;
    border-top: 1px solid #8E46C6;
    color: #8E46C6;
}

.accordion-header::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 7px 0 7px;
    border-color: white transparent transparent transparent;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.accordion-item.active .accordion-header::after {
    border-width: 0 7px 10px 7px;
    border-color: transparent transparent white transparent;
}

.our-story {
    background-color: #8E46C6;
    color: white;
    padding: 40px 20px;
    border-radius: 10px;
    margin: 40px auto;
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.our-story-container {
    width: 80%;
    max-width: 800px;
}

.executives {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.executive-card {
    width: 30%;
    border: 2px solid #8E46C6;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    height: 675px;
}

.executive-card h3 {
    font-weight: bold;
    font-size: 2rem;
}

.executive-card h4 {
    color: #8E46C6;
}

.executive-card p {
    font-size: 1.2rem;
}

.executive-photo {
    width: 225px;
    height: 225px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 auto 15px;
}

.executive-photo img {
    width: 100%; /* Ensures the image covers the width */
    height: 100%; /* Ensures the image covers the height */
    object-fit: cover; /* Ensures the image covers the div without distortion */
  }

.about-section {
    background-color: #8E46C6;
    color: white;
    width: 75%;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto 40px;
    text-align: center;
}

.about-section h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1.2rem;
    color: white;
}