.header {
    margin-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}

.header h1 {
    font-size: 75px;
    font-weight: bold;
    margin-bottom: 20px;
}

.header p {
    font-size: 1rem;
    color: black;
    max-width: 800px;
    margin: 0 auto;
}

.purple-border {
    border: 2px solid #8E46C6;
    border-radius: 10px;
}

.purple-border .form-control {
    border: none;
    box-shadow: none;
}

.purple-border .form-control:focus {
    box-shadow: none;
}

.search {
    display: flex;
    width: 95%;
    margin: 0 auto; 
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 95%;
    margin: 0 auto;
}

.facets {
    width: 20%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #8E46C6;
    margin-right: 20px;
}

.facet-header {
    background-color: #8E46C6;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.facets .form-check {
    margin-bottom: 10px;
}

.facets .dropdown,
.facets .dropdown-menu {
    width: 100%;
}

.purple-button {
    background-color: #8E46C6;
    color: white;
    width: 75%;
    margin-top: 15px;
    margin: auto;
    display: block;
    border: none;
    text-align: center;
    cursor: pointer;
}

.purple-button:hover {
    background-color: white;
    color: #8E46C6;
    border: 2px solid #8E46C6;
}

.results {
    width: 80%;
    margin-left: 20px;
}

.results-count {
    color: #8E46C6;
    font-weight: bold;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.class-card {
    margin-bottom: 20px;
    border: 2px solid #8E46C6;
    border-radius: 15px;
}

.class-card .class-card-content {
    display: flex;
    align-items: center;
}

.class-card .class-details {
    flex: 1;
}

.reserve-button {
    background-color: #8E46C6 !important;
    color: white !important;
    width: 150px;
    border-radius: 15px !important;
    text-decoration: none;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 30px;
}

.pagination .page-link {
    color: #8E46C6;
    border-color: #8E46C6;
}

.pagination .page-item.active .page-link {
    background-color: #8E46C6;
    border-color: #8E46C6;
}

.bi-search {
    font-size: 1.2rem;
}

.form-label {
    font-weight: bold;
}

.purple-checkbox .form-check-input:checked {
    background-color: #8E46C6;
    border-color: #8E46C6;
}

.facets .form-check-label {
    color: #8E46C6;
}

.instructor-selector {
    background-color: white;
    color: #8E46C6;
    border-color: #8E46C6;
    margin-bottom: 10px;
}